/* Variables */
:root {
  --primary: #1aac83;
  --secondary: white;
  --tertiary: black;
  --error: #e7195a;
}

/* Reset/Global Styles */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: url('./images/landscaping.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Base Elements */
header {
  background: var(--primary);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

header .logo {
  color: var(--secondary);
  cursor: pointer;
  margin-right: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

header a {
  color: var(--secondary);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

label, input, select {
  display: block;
}

input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="%23333" d="M0 0l5 5 5-5z"/></svg>') no-repeat right 15px center;
  background-color: #fff;
  background-size: 10px 5px;
}

select::-ms-expand {
  display: none;
}

/* Layout Styles */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.page-separation {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 50px;
}

/* Component Styles */
.home {
  position: relative;
  max-width: 80%;
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 10px;
  background: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--primary);
  text-align: center;
  margin-bottom: 20px;
}

.home-details {
  position: relative;
  max-width: 80%;
  margin: 10px auto;
  background: var(--secondary);
  color: var(--tertiary);
}

.modal-show {
  display: block;
  position: initial;
}

.modal-show button {
  margin-top: 10px;
}

.accordion {
  padding: 0 10px;
  border-radius: 4px;
  position: relative;
}

.accordion-body {
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.05);
}

.accordion span {
  position: relative;
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: blue;
  margin-left: 10px;
}

.accordion h4 {
  margin: 0;
  padding: 5px;
  font-size: 1.1em;
  color: var(--tertiary);
}

.statements-wrapper {
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.statement, .no-statements {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #555;
}

.statement {
  padding-left: 10px;
}

.no-statements {
  padding: 10px;
}

.details {
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.invoices, .clients, .profile {
  background: var(--secondary);
  border-radius: 8px;
  border: 1px solid var(--primary);
}

.invoices h3, .clients h3, .profile h3 {
  color: var(--primary);
  text-align: center;
  border-radius: 4px;
  font-size: 1.75em;
  padding-top: 20px;
}

.invoices h5, .clients h5, .profile h5 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.statements-wrapper h5 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.create {
  background: var(--secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  border: 1px solid var(--primary);
}

.create h3 {
  text-align: center;
  color: var(--primary);
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  justify-content: space-between;
}

.modal-toggle-switch-container {
display: flex;
}

.toggle-switch-container label {
  margin-right: 10px;
  font-size: 1em;
  color: var(--tertiary);
}

.toggle-switch {
  position: relative;
  width: 50px;
  display: inline-block;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 26px;
  width: 50px;
  border: 2px solid var(--primary);
  border-radius: 15px;
  background-color: var(--secondary);
  transition: background-color 0.3s ease-in;
  position: relative;
}

.toggle-switch-label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: var(--primary);
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.toggle-switch-checkbox:checked + .toggle-switch-label {
  background-color: var(--primary);
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  left: 26px;
  background-color: var(--secondary);
}



form button {
  background: var(--primary);
  border: 0;
  color: var(--secondary);
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

form.login, form.signup {
  position: relative;
  max-width: 420px;
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

.login input, .signup input {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 40px;
  box-sizing: border-box;
}

.login h3, .signup h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary);
}

.input-box {
  position: relative;
}

.input-box span {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
  top: 50%;
}

.forgot-register {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -5px 25px 10px;
}

.forgot-register a {
  text-decoration: none;
  color: var(--secondary);
}

.forgot-register a:hover {
  text-decoration: underline;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error, select.error {
  border: 1px solid var(--error);
}

/* Utility Classes */
.nav-left-controls {
  display: flex;
  align-items: center;
}

.nav-right-controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--secondary);
}

.nav-right-controls span {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
